/* здравствуйте! перед отправкой скачала 
макет заново и настроила (насколько возможно под pixel perfect), не понимаю в чем проблема, 
но макеты скаченные из фигмы 14.01.26 и 17.01.26 разнятся, 
и каждый раз подбивать под новые значения уже превращается в работу ради работы, 
если на этот раз опять с макетом не сойдется, 
оставьте пожалуйста ссылку на макет по которому проверяете, спасибо.*/

.header {
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  padding: 93px 50px 95px;
  align-items: center;
  width: 1100px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

.header__links-list-item {
  list-style-type: circle;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__links-list {
  display: flex;
  gap: 33px;
  flex-direction: row;
  padding-inline-start: 0;
  justify-self: start;
  white-space: nowrap;
  font-size: 18px;
  grid-column: 1/2;
}

.logo {
  display: block;
  justify-self: center;
  align-self: start;
  grid-column: 2/3;
  height: 105px;
  width: 148px;
}

.address {
  gap: 0;
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
}

.header__address {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  justify-self: end;
  padding-right: 37px;
  padding-bottom: 2x;
  grid-column: 3/4;
}

.picture__and__text {
  position: relative;
  background-image: url(../images/lotus-flower.svg);
  background-repeat: no-repeat;
  height: 100%;
  min-width: 1100px;
  color: rgb(255, 255, 255);
  margin-bottom: 197px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(3, 115px) auto;
  height: auto;
  width: 100%;
  padding: 50px;
  gap: 20px 0;
}

.cover__title {
  display: flex;
  flex-direction: column;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  align-items: center;
  text-transform: uppercase;
  font-size: 100px;
  z-index: 1;
  letter-spacing: 30px;
}

.aligned-text_left {
  justify-self: start;
  align-self: start;
  padding-top: 159px;
}

.aligned-text_center {
  justify-self: center;
  align-self: center;
  padding-left: 30px;
  padding-top: 115px;
}

.aligned-text_right {
  align-self: end;
  text-align: right;
  padding-top: 112px;
  padding-left: 613px;
  width: 100%;
}

.cover__description-text {
  grid-column: 1/3;
  grid-row: 4/5;
  width: 100%;
  justify-self: end;
  align-self: end;
  text-align: justify;
  padding-left: 3px;
  padding-bottom: 12px;
  letter-spacing: 0px;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: normal;
  word-spacing: 18px;
  z-index: 1;
}

.action__bottom {
  grid-column: 3/4;
  grid-row: 4/5;
  justify-self: end;
  align-self: end;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  min-width: 256px;
  min-height: 51px;
  border: 1px solid rgb(255, 255, 255);
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: normal;
  z-index: 1;
}

.lots__title {
  font-size: 40px;
  text-transform: uppercase;
  padding-left: 63px;
  margin-bottom: 35px;
}

.lots {
  display: grid;
  grid-template-columns: repeat(3, 334px);
  grid-template-rows: 2;
  justify-self: center;
  gap: 27px 25px;
  color: #ffffff;
}

.lot__card {
  min-height: 596px;
  width: 334px;
  padding-top: 49px;
  padding-left: 40px;
  padding-right: 40px;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card__title {
  line-height: 26px;
  font-size: 22px;
  letter-spacing: 0px;
  text-transform: uppercase;
  text-decoration: underline;
  font-weight: bold;
  margin: 0;
  padding: 0;
  z-index: 1;
}

article p {
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  text-transform: none;
  font-weight: normal;
  margin: 0;
  padding: 0;
  padding-bottom: 48px;
  z-index: 1;
}

article {
  display: flex;
  position: relative;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100%;
  min-width: 100%;
  background-repeat: no-repeat;
}

.name__section {
  display: block;
  grid-column: 1/-1;
  padding-top: 14px;
  padding-left: 39px;
  padding-bottom: 10px;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
}

.film {
  background-image: url(../images/film.svg);
}

.book {
  background-image: url(../images/book.svg);
}

.picture {
  background-image: url(../images/picture.svg);
}

.see__more {
  display: block;
  text-decoration: underline;
  color: #000000;
  padding-top: 33px;
  padding-left: 65px;
}

.about__auction {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 2;
  justify-content: space-between;
  padding-right: 28px;
  height: auto;
  width: 100%;
  margin-top: 150px;
  margin-bottom: 181px;
}

.title__about__auction {
  grid-column: 2/3;
  padding-top: 115px;
  padding-left: 72px;
  font-size: 40px;
  text-transform: uppercase;
}

.logo__column {
  grid-column: 1/2;
  grid-row: 1/1;
  height: 240px;
  width: 240px;
  margin-left: 71px;
  font-weight: bold;
}

.about__text {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: space-between;
  gap: 26px;
  width: 100%;
  padding: 10px 0 0 72px;
  font-size: 20px;
  line-height: 24px;
}

footer {
  display: grid;
  box-sizing: border-box;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  padding: 0 30px 40px 50px;
  height: auto;
  min-width: 1100px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  font-size: 18px;
}

.footer__address {
  display: flex;
  flex-direction: column;
  grid-column: 1;
  grid-row: 1;
  justify-self: space-between;
  font-style: normal;
  line-height: 24px;
  min-width: 0;
  padding-bottom: 13px;
}

.footer__menu {
  grid-column: 2;
  grid-row: 1;
  align-self: center;
  justify-self: center;
  line-height: 0px;
  padding-bottom: 69px;
  padding-right: 17px;
}

.footer__menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
}

.not__underline {
  text-decoration: none;
}

.social__network {
  grid-column: 3;
  grid-row: 1;
  align-self: end;
  justify-self: end;
  display: flex;
  gap: 48px;
  padding-right: 20px;
  padding-bottom: 78px;
}

.social__logo {
  display: block;
  height: auto;
  width: auto;
}
