* {
  box-sizing: border-box;
}

body {
  
  font-family: 'Raleway';
  font-size: 20px;
  line-height: 23px;
}

.header {
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  padding: 93px 50px 95px;
  align-items: center;
  height: 293px;
  width: 1100px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  margin-bottom: 69px;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  display: flex;
  gap: 32px;
  flex-direction: row;
  padding-inline-start: 0;
}

li:first-child {
  list-style-type: none;
}

li{
  list-style-type: circle;
} 

.menu {
  justify-self: start;
  white-space: nowrap;
  font-size: 18px;
  grid-column: 1/2;
}

.logo {
  display: block;
  justify-self: center;
  align-self: start;
  grid-column: 2/3;
  height: 105px;
  width: 148px;
  margin-left: 23px;
}

.info {
  display: flex;
  justify-content: space-evenly;
  gap: 0;
  flex-direction: column;
  justify-self: end;
  width: 240px;
  height: 98px;
  margin-left: 190px;
  font-size: 18px;
  grid-column: 3/4;
  margin-left: 193px;
}

.picture__and__text {
  background-image: url(../images/lotus-flower.svg);
  background-repeat: no-repeat;
  min-height: 757px;
  width: 1100px;
  color: rgb(255, 255, 255);
  margin-bottom: 111px;
}

.picture__and__text::before {
  content: "";
  position: absolute;
  min-height: 757px;
  width: 1100px;
  background: rgba(0, 0, 0, 0.5); 
  z-index: 0;
}

.container {
  display: grid;
  grid-template-columns: 286px 339px 398px;
  grid-template-rows: repeat(3,115px) auto;
  align-items: center;
  height: 757px;
  width: 1100px;
  padding: 50px;
  gap: 20px 0;
}

h1 {
  display: block;
  text-transform: uppercase;
  z-index: 1;
}

span {
  font-size: 100px;
}

.ono__word {
  grid-column: 1/2;
  grid-row: 2/3;
  justify-self: center;
  align-self: start;
  text-align: justify;
  width: 100%;
  letter-spacing: 30px;
  padding-top: 25px;
} 

.tebe__word {
  grid-column: 2/3;
  grid-row: 3/4;
  justify-self: end;
  align-self: start;
  text-align: justify;
  width: 100%;
  padding-left: 42px;
  padding-top: 330px;
  letter-spacing: 30px;
  padding-top: 25px;
}

.nado__word {
  grid-column: 3/4;
  grid-row: 4/5;
  justify-self: center;
  align-self: start;
  text-align: justify;
  padding-top: 30px;
  padding-left: 0;
  letter-spacing: 32px;
} 

.about__things {
  grid-column: 1/3;
  grid-row: 4/5;
  justify-self: start;
  align-self: end;
  width: 100%;
  text-align: justify;
  text-align-last: justify;
  padding-left: 2px;
  padding-bottom: 12px;
  letter-spacing: 2.5px;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: normal;
  white-space: nowrap;
  z-index: 1;
}

.action__bottom {
  grid-column: 3/4;
  grid-row: 4/5;
  justify-self: end;
  align-self: end;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 165px 20px 0 0;
  width: 256px;
  height: 51px;
  border: 1px solid rgb(255, 255, 255);
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: normal;
  z-index: 1;
}

.lots {
  display: grid;
  grid-template-columns: repeat(3, 334px);
  grid-template-rows: 2;
  justify-self: center;
  gap: 27px 25px;
  color: #ffffff;
}

.film a, 
.book a, 
.picture a {
  line-height: 26px;
  font-size: 22px;
  padding-top: 50px;
  padding-left: 40px;
  padding-right: 40px;
  text-transform: uppercase;
  text-decoration: underline;
  font-weight: bold; 
  z-index: 1;
}

p {
  font-size: 20px;
  line-height: 24px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 48px;
  z-index: 1;
}

article {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-width: 334px;
  min-height: 596px;
}

article::before {
  content: "";
  position: absolute;
  min-height: 596px;
  width: 334px;
  background: rgba(0, 0, 0, 0.5); 
  z-index: 0;
}

.name__section {
  display: block;
  grid-column: 1/-1;
  padding-top: 14px;
  padding-left: 39px;
  padding-bottom: 10px;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
}

.film {
  background-image: url(../images/film.svg);
}

.book {
  background-image: url(../images/book.svg);
}

.picture {
  background-image: url(../images/picture.svg);
}

.see__more {
  text-decoration: underline;
  color: #000000;
  margin-bottom: 155px;
  padding-top: 6px;
  padding-left: 40px;
}

.about__auction {
  display: grid;
  grid-template-columns: auto 820px;
  grid-template-rows: 2;
  justify-content: space-between;
  height: 595px;
  width: 1052px;
}

.title__about__auction {
  grid-column: 2/3;
  padding-top: 110px;
  padding-left: 72px;
  font-size: 40px;
}

.logo__column {
  grid-column: 1/2;
  grid-row: 1/1;
  height: 240px;
  width: 240px; 
  margin-left: 71px;
  font-weight: bold;
}

.text__block-1 {
  padding-left: 70px;
  grid-column: 2/3;
  font-size: 20px;
  grid-row: 3/4;
  align-items: start;
  padding-right: 80px;
  padding-bottom: 20px;
}

.text__block-2 {
  grid-column: 2/3;
  grid-row: 4/4;
  align-items: center;
  padding-left: 70px;
  padding-right: 55px;
  padding-bottom: 34px;
  font-size: 20px;
}

 footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  margin-top: 100px;
  padding: 45px 30px 52px 50px;
  align-items: center;
  height: 180px;
  width: 1100px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  font-size: 18px;
}

.info__for__footer {
  display: flex;
  flex-direction: column;
  grid-column: 1;
  justify-self: start; 
  align-self: end;
}

.footer__menu li{
  list-style-type: none;
  justify-self: center;
  align-self: center;
  line-height: 0;
}

.footer__menu {
  display: flex;
  flex-direction: column;
  grid-column: 2;
  gap: 22px;
  padding-right: 17px;
  padding-bottom: 39px;
}

.social__network {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  grid-column: 3;
  padding-left: 80px;
  padding-right: 20px;
  padding-bottom: 52px;
}

.social__logo {
  display: block;
  height: 48px;
  width: 48px;
}