.header {
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  padding: 93px 50px 95px;
  align-items: center;
  width: 1100px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  margin-bottom: 69px;
}

.header__links-list-item {
  list-style-type: circle;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__links-list {
  display: flex;
  gap: 32px;
  flex-direction: row;
  padding-inline-start: 0;
  justify-self: start;
  white-space: nowrap;
  font-size: 18px;
  grid-column: 1/2;
}

.logo {
  display: block;
  justify-self: center;
  align-self: start;
  grid-column: 2/3;
  height: 105px;
  width: 148px;
  margin-left: 10px;
}

.address {
  gap: 0;
  font-size: 18px;
  height: 98px;
  font-style: normal;
}

.header__address {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  justify-self: end;
  padding-right: 35px;
  grid-column: 3/4;
}

.picture__and__text {
  background-image: url(../images/lotus-flower.svg);
  background-repeat: no-repeat;
  height: auto;
  width: 1100px;
  color: rgb(255, 255, 255);
  margin-bottom: 111px;
}

.overlay__picture__and__text {
  height: 757px;
  min-width: 1100px;
}

.overlay {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.container {
  display: grid;
  grid-template-columns: 286px 339px 398px;
  grid-template-rows: repeat(3, 115px) auto;
  min-width: 1100px;
  padding: 50px;
  gap: 20px 0;
}

.cover__title {
  display: flex;
  flex-direction: column;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  align-items: center;
  text-transform: uppercase;
  z-index: 1;
  font-size: 100px;
  letter-spacing: 30px;
}

.aligned-text_left {
  justify-self: start;
  align-self: start;
  padding-top: 159px;
}

.aligned-text_center {
  justify-self: center;
  align-self: center;
  padding-left: 15px;
  padding-top: 115px;
}

.aligned-text_right {
  justify-self: end;
  align-self: end;
  padding-top: 115px;
  letter-spacing: 27px;
}

.cover__description-text {
  grid-column: 1/3;
  grid-row: 4/5;
  justify-self: start;
  align-self: end;
  width: 100%;
  text-align: justify;
  text-align-last: justify;
  padding-left: 4px;
  padding-bottom: 12px;
  letter-spacing: 2px;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: normal;
  white-space: nowrap;
  z-index: 1;
}

.action__bottom {
  grid-column: 3/4;
  grid-row: 4/5;
  justify-self: end;
  align-self: end;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 200px 20px 0 0;
  width: 256px;
  min-height: 51px;
  border: 1px solid rgb(255, 255, 255);
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: normal;
  z-index: 1;
}

.lots__title {
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 37px;
  padding-top: 13px;
  padding-left: 63px;
}

.lots {
  display: grid;
  grid-template-columns: repeat(3, 334px);
  grid-template-rows: 2;
  justify-self: center;
  gap: 27px 25px;
  color: #ffffff;
}

.lot__card {
  height: 596px;
  width: 334px;
  padding-top: 50px;
  padding-left: 40px;
  padding-right: 40px;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.overlay__lot__card {
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
}

h2 {
  line-height: 26px;
  font-size: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: underline;
  font-weight: bold;
  margin: 0;
  padding: 0;
  z-index: 1;
}

article p {
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  text-transform: none;
  font-weight: normal;
  margin: 0;
  padding: 0;
  padding-bottom: 48px;
  z-index: 1;
}

article {
  display: flex;
  position: relative;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100%;
  min-width: 100%;
  background-repeat: no-repeat;
}

.name__section {
  display: block;
  grid-column: 1/-1;
  padding-top: 14px;
  padding-left: 39px;
  padding-bottom: 10px;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
}

.film {
  background-image: url(../images/film.svg);
}

.book {
  background-image: url(../images/book.svg);
}

.picture {
  background-image: url(../images/picture.svg);
}

.see__more {
  display: block;
  text-decoration: underline;
  color: #000000;
  padding-top: 35px;
  padding-left: 65px;
}

.about__auction {
  display: grid;
  grid-template-columns: auto 820px;
  grid-template-rows: 2;
  justify-content: space-between;
  height: auto;
  width: 1052px;
  margin-top: 150px;
}

.title__about__auction {
  grid-column: 2/3;
  padding-top: 115px;
  padding-left: 72px;
  font-size: 40px;
  text-transform: uppercase;
}

.logo__column {
  grid-column: 1/2;
  grid-row: 1/1;
  height: 240px;
  width: 240px;
  margin-left: 71px;
  font-weight: bold;
}

.about__text {
  font-size: 20px;
  padding-left: 70px;
}

.upper__block {
  grid-column: 2/3;
  grid-row: 3/4;
  align-items: start;
  padding-top: 10px;
  padding-right: 80px;
}

.lower__block {
  grid-column: 2/3;
  grid-row: 4/4;
  align-items: center;
  padding-right: 55px;
  padding-top: 30px;
}

footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  margin-top: 100px;
  padding: 90px 30px 52px 50px;
  width: 1100px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  font-size: 18px;
}

.footer__address {
  display: flex;
  flex-direction: column;
  grid-column: 1;
  grid-row: 1;
  align-self: end;
  justify-self: start;
  font-style: normal;
  padding-bottom: 48px;
}

.footer__menu {
  grid-column: 2;
  grid-row: 1;
  align-self: center;
  justify-self: center;
  width: 100%;
  line-height: 0;
  padding-bottom: 75px;
  padding-right: 13px;
}

.footer__menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
}

.social__network {
  grid-column: 3;
  grid-row: 1;
  align-self: end;
  justify-self: end;
  display: flex;
  gap: 48px;
  padding-right: 17px;
  padding-bottom: 95px;
}

.social__logo {
  display: block;
  width: 48px;
  height: 48px;
}
